<div class="container">
	<h1>New Store</h1>
	<form  action="/stores"  accept-charset="UTF-8" class="new_store" id="new_store" method="post">
	  <div class="form-group">
	    <label for="store[name]" >Name</label>
	    <input type="text" class="form-control" id="store[name]" name="store[name]" aria-describedby="store[name]">
	   </div>
	  <div class="form-group">
	    <label for="store[street]" >Street</label>
	    <input type="text" class="form-control" id="store[street]" name="store[street]" aria-describedby="store[street]">
	  </div>
	  <div class="form-group">
	    <label for="store[number]" >Number</label>
	    <input type="number" class="form-control" id="store[number]" name="store[number]" aria-describedby="store[number]">
	  </div>
	  <div class="form-group">
	    <label for="store[zip_code]" >Zip code</label>
	    <input type="text" class="form-control" id="store[zip_code]" name="store[zip_code]" aria-describedby="store[zip_code]">
	  </div>
	  <div class="form-group">
	    <label for="store[city]" >City</label>
	    <input type="text" class="form-control" id="store[city]" name="store[city]" aria-describedby="store[city]">
	  </div>
	  <div class="form-group">
	    <label for="store[country]" >Country</label>
	    <input type="text" class="form-control" id="store[country]" name="store[country]" aria-describedby="store[country]">
	  </div>
	  <div class="form-group">
	  	<div class="row justify-content-start">
				<div class="col-4">
					<button type="submit"  value="Update Store" data-disable-with="Update Store"  class="btn btn-primary btn-lg">Submit</button>
				</div>
				<div class="col-4">
					<a href="/"><button href="/" class="btn btn-danger btn-lg">Cancel</button></a>
				</div>
		</div>
	  </div>
	</form>
</div>